.nav {
  border-bottom: 0.5px solid rgb(244, 240, 240);
  .logo {
    font-size: 12px;
    font-weight: 800;
    // color: rgb(7, 49, 174);
  }

  .ul {
    li {
      list-style: none;
      padding: 15px 0px;

      a {
        transition: 0.2s all ease-in-out;

        &:hover {
          color: rgb(7, 49, 174);
        }
      }
    }
  }
}
